---
import Main from "../layouts/main.astro";
import Hero from "../components/hero.astro";

const pageTitle = "Vacancies";
const fromColor = "#94c7c3";
const toColor = "#00b000";
const heroText = "live and work";
const heroTagline = "big challenges, big opportunities";
---
<Main pageTitle={pageTitle}}>
  <Hero fromColor={fromColor} toColor={toColor} heroText={heroText} heroTagline={heroTagline} />
    <div class="h-[50dvh] w-full"></div>
</Main>