---
import Main from "../layouts/main.astro";
import Hero from "../components/hero.astro";

const pageTitle = "Benefits";
const fromColor = "#e76666";
const toColor = "#b20059";
const heroText = "what we offer";
const heroTagline = "big challenges, big opportunities";
---
<Main pageTitle={pageTitle}}>
  <Hero fromColor={fromColor} toColor={toColor} heroText={heroText} heroTagline={heroTagline} />
    <div class="h-[50dvh] w-full"></div>
</Main>