---
import Main from "../layouts/main.astro";
import Hero from "../components/hero.astro";
import HomeCarousel from "../components/homeCarousel.astro";
import Testimonial from "../components/testimonial.astro";
const pageTitle = "Home"; 
const fromColor = "#d1669b";
const toColor = "#3838fc";
const heroText = "join our team";
const heroTagline = "big challenges, big opportunities";
---
<Main pageTitle={pageTitle}}>
  <Hero fromColor={fromColor} toColor={toColor} heroText={heroText} heroTagline={heroTagline} />
  <HomeCarousel />
  <Testimonial fromColor={fromColor} toColor={toColor} />
  <div class="h-[50dvh] w-full"></div>
</Main>