---
import Main from "../layouts/main.astro";
import Hero from "../components/hero.astro";


const pageTitle = "Resources";
const fromColor = "#e95500";
const toColor = "#ffc300";
const heroText = "tools for success";
const heroTagline = "big challenges, big opportunities";
---
<Main pageTitle={pageTitle}}>
  <Hero fromColor={fromColor} toColor={toColor} heroText={heroText} heroTagline={heroTagline} />
    <div class="h-[50dvh] w-full"></div>
</Main>