---
import Main from "../layouts/main.astro";
import Hero from "../components/hero.astro";
import { fetchRssFeed } from '../utils/fetchRss.js';
import RssCard from '../components/rssCard.astro';

const pageTitle = "Vacancies";
const fromColor = "#d1669b";
const toColor = "#3838fc";
const rssUrl = 'https://myjobscotland.gov.uk/api/v1/rss?alias=councils/orkney-islands-council/jobs/rss';
const items = await fetchRssFeed(rssUrl);
const heroText = "find a role";
const heroTagline = "big challenges, big opportunities";
---
<Main pageTitle={pageTitle}}>
  <Hero fromColor={fromColor} toColor={toColor} heroText={heroText} heroTagline={heroTagline} />
    <div class="m-4">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        {items.map(item => (
          <RssCard {...item} />
        ))}
      </div>
    </div>

</Main>