---
const { title, link, pubDate, contentSnippet } = Astro.props;
const locationMatch = contentSnippet.match(/Location:\s*([^;]*)/);
const salaryMatch = contentSnippet.match(/Salary:\s*([^;]*)/);
const closingDateMatch = contentSnippet.match(/Closing date:\s*(.*)/);
const location = locationMatch ? locationMatch[1].trim() : 'N/A';
const salary = salaryMatch ? salaryMatch[1].trim() : 'N/A';
const closingDate = closingDateMatch ? closingDateMatch[1].trim() : 'N/A';
// Extract the ORK***** tag from the title
const tagMatch = title.match(/(ORK\d{5})/);
const tag = tagMatch ? tagMatch[0] : '';
const cleanTitle = tag ? title.replace(` - ${tag}`, '').trim() : title;

// Function to determine colors based on title
function getColors(title: string) {
    //ohac
  if (title.includes('Hamnavoe') || title.includes('Sunnybrae') || title.includes('Smiddybrae') || title.includes('St Rognvalds') || title.includes('Responder Service Co-ordinator') || title.includes('Mobile Community Responder') || title.includes('Therapist') || title.includes('Kalisgarth')  || title.includes('Care')  || title.includes('OHAC') || title.includes('Lifestyles') ) {
    return { from: '#3838fc', to: '#191970' };
  } 
    //elh  
  else if (title.includes('Teacher') || title.includes('Relief Cook') || title.includes('Early Years') || title.includes('Centre Assistant') || title.includes('Employability') || title.includes('Outdoor Centre') || title.includes('Youth Worker') || title.includes('Instructor') || title.includes('Papdale Halls') || title.includes('Nursery') || title.includes('Nurseries') || title.includes('Learning') || title.includes('Education') || title.includes('Musuem') || title.includes('Cathedral') || title.includes('Housing') || title.includes('Library') || title.includes('School') || title.includes('College') || title.includes('University') || title.includes('Leisure') || title.includes('SVQ')) {
    return { from: '#d70000', to: '#8b0000' };
  } 
    //nsi
  else if (title.includes('Fleet') || title.includes('Toilet') || title.includes('Engineer') || title.includes('Engineering') || title.includes('Cleaner')) {
    return { from: '#e95500', to: '#9d3900' };
  } 
    //spbs
    else if (title.includes('HR') || title.includes('Licensing') || title.includes('Solicitor') || title.includes('Communications')  || title.includes('Community Council')  || title.includes('Members')) {
    return { from: '#b20059', to: '#660033' };
  } 
    //esr
    else if (title.includes('System') || title.includes('IT')  || title.includes('Pier') || title.includes('Project Manager (Orkney World Heritage Site Gateway)') || title.includes('Finance')) {
    return { from: '#00b000', to: '#006400' };
  } 
    //fallback
  else {
    return { from: '#D9D9D9', to: '#D9D9D9' };
  }
}

const { from, to } = getColors(title);
---
<a href={link} target="_blank" rel="noopener noreferrer" class="card p-0 border rounded-lg hover:shadow-lg transition-all hover:scale-[1.02] flex flex-row">
    <div class="w-3 border rounded-l-lg bg-gradient-to-b" style={`background: linear-gradient(to bottom, ${from}, ${to})`}/>
    <div class="flex flex-col p-4 w-full">
        <h2 class="text-[#1e1e1e] text-lg md:text-xl font-bold mb-2">{cleanTitle}</h2>
        {tag && <p class="text-sm text-gray-500 mb-2">{tag}</p>}
        <!-- <p class="text-sm text-gray-500 mb-2">{new Date(pubDate).toLocaleDateString()}</p> -->
        <p class="text-base mt-2"><strong>Location:</strong> {location}</p>
        <p class="text-base"><strong>Salary:</strong> {salary}</p>
        <p class="text-base mt-4"><strong>Closing Date:</strong> {closingDate}</p>
    </div>
</a>